* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 0 0 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    font-weight: 100;
    letter-spacing: .05rem;
}

h2 {
    font-weight: 100;
    letter-spacing: .05rem;
}

p {
    margin: 0;
    font-weight: 100;
    letter-spacing: .05rem;
}

a {
    text-decoration: underline;
    font-weight: 100;
    letter-spacing: .05rem;
}

li {
    font-weight: 100;
    letter-spacing: .05rem;
}

a:hover {
    opacity: 0.8;
}

.page-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.about-list {
    margin: 0 2rem;
}

.tools-list {
    margin: 0 2rem;
}

.list-item {
    margin: 0 0 1rem 0;
}

@media only screen and (max-width: 700px) {
    .page-container {
        flex-direction: column;
    }
  }