* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 0 0 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    margin: 0;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    opacity: 0.8;
}

.page-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.about-list {
    margin: 0 2rem;
}

.tools-list {
    margin: 0 2rem;
}

.list-item {
    margin: 0 0 1rem 0;
}

@media only screen and (max-width: 700px) {
    .page-container {
        flex-direction: column;
    }
  }